.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.whole_card{
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center;
}

.card-img-top{
  width:200px !important;
}

.card{
  width:250px !important;
}